@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100vw;
  height: 100vh;
}

@layer utilities {
  .debug {
    border: 1px solid red;
  }
}

@layer components {
  .bevel-border-inner {
    border: 1px solid black;
    box-shadow: inset 2px 2px 0 0px #FFFFFF90, inset -2px -2px 0 0px #00000025;
  }

  .bevel-border-outer {
    border: 1px solid black;
    box-shadow: 1px 1px 0 0px #FFFFFF90, -1px -1px 0 0px #00000025;
  }

  .bevel-concave {
    background: linear-gradient(135deg, #A1A1A1 21.88%, #EFEFEF 78.12%);
    border: 1px solid #3C3C3C;
    box-shadow: 0px 0px 1px 1px rgba(60, 60, 60, 0.75), -1px -1px 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 3px 1px rgba(254, 254, 254, 0.7), inset 0px 0px 4px 2px rgba(0, 0, 0, 0.25), inset 2px 0px 1px #FEFEFE, inset 0px 2px 1px #FEFEFE, inset -2px -2px 2px rgba(0, 0, 0, 0.5);
  }

  .drag-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 1.36px 0px;
    gap: 1.36px;

    position: relative;
  }

  .drag-bar-row {
    height: 1.36px;

    background: rgba(254, 254, 254, 0.5);
    box-shadow: 0px 1.36364px 1.36364px rgba(0, 0, 0, 0.35);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}

@font-face {
  font-family: "ChicagoSystemFont";
  src: url("public/fonts/ChicagoSystemFont.ttf") format("truetype");
  font-size-adjust: 0.5;
}
